*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



.Filter {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    font-display: column;
    flex-direction: column;
    gap: 20px;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Counter {
    font-family: monospace,sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 100vh;
    background-color: red;
    color: black;

}
h1{
    font-style: 6rem;
}
.button-wrapper{
    display: flex;
    justify-content: center;
    gap: 1rem;

}